## <a name="builder-token" id="builder-token" data-magellan-target="builder-token">Create an Access Token</a>

You can build and run Habitat packages without authenticating to Builder; however some operations, like uploading your packages to Builder, or checking status of your build jobs from the Habitat client, will require an access token.

From the Builder site, select your user icon in the upper right-hand side, and select **Profile**.

<img src="/images/screenshots/profile.png">

At the bottom of the profile page, select **Generate Token**.

<img src="/images/screenshots/generate-token.png">

Copy your token, and then set it in the CLI by running:

```bash
export HAB_AUTH_TOKEN=<token>
```

Replacing `<token>` with the contents of your generated token.
