## <a name="origin-keys" id="origin keys" data-magellan-target="origin-keys">Origin Keys</a>
## About origin keys

Creating an origin automatically generates an origin key pair. 

Origin key cryptography is asymmetric: it has a public key that you can distribute freely, and a private key that you should keep safe.

Supervisors use the public origin key to verify the integrity of a downloaded Habitat before running it.
By default, Supervisors only run packages for which they have the public origin key, and cannot run a package without the correct origin public key.
You can provide the origin public key to the Supervisors by pointing them to a depot that containing it, or by putting the key on disk outside of Habitat.

## Locating your origin keys

Creating an origin automatically generates two keys, a private origin key and a public origin key. You will use the private key to sign your packages and Supervisors will use the public key to verify the integrity of your packages (`.hart` files). You can find your origin keys on the Builder site by navigating to the relevant origin and selecting the **Keys** tab.

<img src="/images/screenshots/origin-keys.png">

You'll find any private and public origin keys that you have already saved at `~/.hab/cache/keys` on your host machine and at `/hab/cache/keys` inside the studio environment. To see your existing origin keys, from your host command line, run:

```shell
ls -la `~~/.hab/cache/keys`
````

## Downloading origin keys from Builder

To download your private or public origin key, select the download icon from the right end of the key details, under the "Actions" heading.

<img src="/images/screenshots/origin-keys-download.png">

To get your keys from Builder from the command line, use the

```shell
hab origin key import
```

## Create an origin key pair from the command line use 

After finishing the basic account creation steps, you need to create your origin key pair. 

You can create an origin key pair by running `hab cli setup` from your host machine, or by running `hab origin key generate <ORIGIN>` from either the host machine or from within the studio.


## Download an existing origin key pair.


### Upload the keys for your origin

If you created a new origin and/or Builder does not have the public key corresponding to the private key used to build your package, you must upload it. You also have the ability to upload your private key; however, if you do not upload at least the public key, Builder will reject the upload of your packages for that origin.

You can upload keys for the origin through the web interface for Builder, or by using the `hab origin key upload` command. You must be authenticated using the access token described earlier before you can upload keys.
